<!doctype html>
<html lang="en">
  <head>
    <!--
        openquantumreality.org - web site for the John Templeton Foundation-funded
        project, Open Quantum Systems and the Causal Structure of Reality,
        Copyright (C) 2026 Michael E. Cuffaro.

        This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU General Public License for more details.

        You should have received a copy of the GNU General Public License
        along with this program.  If not, see <https://www.gnu.org/licenses/>.
      -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Openquantumreality.org - Events</title>
    {% include 'src/bootstrap-min-css.html' %}

    {% include 'src/hide-touch.html' %}
  </head>

  {% include 'src/navbar-fragment.html' %}

  <body>

    {% include 'src/events-from-markdown.html' %}

    {% include 'src/page-footer.html' %}

    {% include 'src/bootstrap-bundle-min.html' %}

    {% include 'src/enable_tooltips.html' %}

  </body>
</html>
