<!doctype html>
<html lang="en">
  <head>
    <!--
        openquantumreality.org - web site for the John Templeton Foundation-funded
        project, Open Quantum Systems and the Causal Structure of Reality,
        Copyright (C) 2026 Michael E. Cuffaro.

        This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU General Public License for more details.

        You should have received a copy of the GNU General Public License
        along with this program.  If not, see <https://www.gnu.org/licenses/>.
      -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Openquantumreality.org - Join</title>
    {% include 'src/bootstrap-min-css.html' %}
  </head>

  {% include 'src/navbar-fragment.html' %}

  <body>
    <div class="container text-center">
      <h1>Join our team</h1>
      <hr/>
      <div class="row align-items-start" style="margin-bottom: 60px">
        <div class="col-sm">
          You have found the web site of the John Templeton Foundation-funded project:
          <i>Open Quantum Systems and the Causal Structure of Reality</i>.
        </div>
        <div class="col-sm">
          These pages are currently under construction. Please check back later for updates.
        </div>
      </div>
    </div>

    {% include 'src/page-footer.html' %}

    {% include 'src/bootstrap-bundle-min.html' %}


  </body>
</html>
